target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

_tmp/
_old/

.attach_*
*.iml
.idea/
.classpath
.project
.settings/
.meta-data/
.java-version
.DS_Store
.vscode/

**/.tmp/
.repository

docs/

javacore.*.txt
Snap.*.trc

